# EditorConfig keeps our code styles consistent.
# Check it out: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

# 2 space indentation for most files
[*.{js,css,less,html,md,json}]
indent_style = space
indent_size = 2
